.galleryBigBox{
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 400px;
	border:0px solid black;
	float:right;
	height:462px;
	width:450px;
}
.galleryLittleBox{
	background-repeat:no-repeat;
	background-size:75px;
	border:0px solid black;
	float:left;
	height:75px;
	margin:1px;
	width:75px;
}